aws_region   = "us-east-1"
project_name = "journal-api-eks"

eks_cluster_version = "1.36"

eks_pod_identity_agent_version = "v1.3.10-eksbuild.2"
eks_vpc_cni_version            = "v1.22.3-eksbuild.1"

vpc_cidr = "10.0.0.0/16"

public_subnet_cidrs = [
  "10.0.1.0/24",
  "10.0.2.0/24",
]

private_subnet_cidrs = [
  "10.0.11.0/24",
  "10.0.12.0/24",
]
